table {
  margin: 0 auto;

  text-align: center;
}

td, th, table {
  border: 1px solid #000;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.container .bar-wrapper,
.container #canvas {
  width: 50%;
}

#region-wrapper,
#product-wrapper {
  text-align: center;
}
