/* 整体布局 */
body {
  margin: 0;
}

.container {
  /* 问题： 直接使用body元素创建BFC来清除浮动不能正常工作 */
  overflow: hidden;

  margin: 0;

  background-color: #5892f8;
}

h1 {
  float: left;

  margin: 0;
  padding-top: 2rem;
  width: 20%;
  height: 100%;

  text-align: center;
  font-size: 3rem;
  
  color: #fff;
}

.content {
  float: right;

  width: 80%;
  box-sizing: border-box;
  padding-left: 1rem;

  background-color: #fff;
}

/* 通用样式 */
section ul {
  padding: 0;

  list-style-type: none;
}

section .title {
  font-weight: 700;
}

/* 基本信息 */
.basic ul li {
  display: inline-block;

  margin-right: 1rem;
}

/* 联系方式 */
.contact ul li {
  display: inline-block;

  margin-right: 1rem;
}

/* 能力描述 */
.ability li {
  margin-top: .8rem;
}

.ability .title,
.ability .val {
  display: block;
}

/* 教育经历 */
.edu li {
  margin-top: .8rem;
}

.edu .title,
.edu .val {
  display: block;
}

/* 项目经历 */
.project li {
  margin-top: .8rem;
}

.project .title,
.project .val {
  display: block;
}
